body {
	margin: 0;
}

#nozzle-empty{
	display: none;
	height:103px;
	width:75px;
	position: relative;
	left:30%;
	top:23.5%;
	opacity: 0;
	transition: opacity 2.5s 1s;
}
#nozzle-pour{
	height:98%;
	width:75px;
	transition: height 0.2s cubic-bezier(0.600, 0.040, 1, 0.335) 0s;
}
#glass-full{
	height:0;
	transition: height 6.6s cubic-bezier(0.215, 0.610, 0.275, 0.99) 0.30s;
	width:90px;
	position: absolute;
	bottom:0;
	background-position: bottom;
	left: 25%;
}
#glass-empty{
	display: none;
	height: 203px;
	width:120px;
	opacity: 0;
	transition: opacity 2.5s;
	position: relative;
	left:28%;
	top:28.5%;
	z-index: 1000;
}
#first-screen{
	width:320px;
	height:480px;
}
#swipe-totap{
	display: none;
	height: 116px;
	width:169px;
	opacity: 0;
	transition: opacity 2.4s 2s;
	position: relative;
	top: -42.5%;
    left: 45.5%;
}
#hand-icon{
	display: none;
	width:70px;
	height: 62px;
	transition: opacity 2s, left 2s;
	position: relative;
    top: -62.5%;
    left: 45%;
    animation-name: swipe;
    animation-duration: 2.2s;
    animation-iteration-count: infinite;
}
#end-image {
	display: none;
	position: absolute;
	left: 8%;
	top: -4%;
	height: 652px;
	width: 424px;
	opacity: 0;
	transition: opacity 1s;
	transform: scale(0.4, 0.4);
}

#end-screen {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	height: 652px;
	width: 424px;
	opacity: 1;
	background-repeat: no-repeat;
	transition: all 1s;
	z-index: 1001;
}
@keyframes swipe{
	0%{top:-62.5%;opacity:0;}
	24%{opacity:1;}
	80%{opacity: 1;}
	100%{top:-45%;opacity:0; }
}


@media(min-width:480px){
	#nozzle-empty{
		height:209px;
		width:152px;
		left: 25.6%;
	}
	#nozzle-pour{
		width:152px;
	}
	#glass-full{
		width:180px;
		left: 25px;
	}
	#glass-empty{
		height: 409px;
		width:205px;
		top: 29%;
	}
	#first-screen{
		width: 768px;
    	height: 1024px;
	}
	#swipe-totap{
		height: 247px;
		width:387px;
		top: -38%;
	    left: 44.7%;
	}
	#hand-icon{
		width:140px;
		height: 124px;
	}
	#end-image {
		top: 28%;
		left: 46%;
		transform: scale(0.9, 0.9);
	}
	#end-screen {
		display: none !important;
	}
}